# Python for Exploratory Data Analysis Basics
by Asia Noble

## Types of Data

### Numeric types

In [ ]:
type(42)
# type(42.0)

### Bools

In [ ]:
type(True)
type(False)

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
not True

### Text

In [ ]:
type('boris')
# "asia".capitalize()
# "    asia  ".strip()
# "AsIa".lower()

## Basic Operations

In [ ]:
# Indexes:      0       1        2          3
thisisalist = ['mike', 'roger', 'freddie', 'brian']

In [ ]:
thisisalist[0]

In [ ]:
thisisalist.append('asia')
thisisalist[-1]

In [ ]:
thisisalist.sort()
thisisalist

In [ ]:
# food
# country

In [ ]:
# f"I just ordered {food} from {country}"

In [ ]:
user_profile = {}

## Functions

In [ ]:
def credit_card_industry(num):
    if num[0] == "4":
        return "Visa"
    if num[0] == "5":
        return "Mastercard"

In [ ]:
credit_card_industry("4539 0132 4843 4768")